
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Luxurious+Roman&family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #3d3d3d;
    animation: fadeEffect 2s;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}




#social_ig img {
    width: 50px;
    height: auto;
}

a:link {
    text-decoration: none;
    text-decoration-color: black;
    color: black;
}

a:hover {
    text-decoration: none;
    text-decoration-color: gold;
    color: gold;
}


#missingimg img {
    width: 300px;
    height: auto;
    margin-left: 200px;
}


a:focus {
    text-decoration: none;
    text-decoration-color: black;
}

a:visited {
    text-decoration: none;
    text-decoration-color: black;
    outline: none;
    color: black;
}


a:visited:hover {
    text-decoration: none;
    text-decoration-color: black;
    outline: none;
    color: gold;
}


#logo {
    display:flex;
    flex-direction: column;
    align-items: center;
}



#logo_bild {
    width: 240px;
    height: 240px;
    background-image: url(server-icon.jpg);
    animation: fadeEffect 2s;
    
}

#logo_text {
    font-family: 'Luxurious Roman', cursive;
    animation: fadeEffect 2s;
}

#nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    list-style-type: none;
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding: 0;
    animation: fadeEffect 2s;
}

#nav ul li {
    padding-left: 20px;
    padding-right: 20px;
}


#nav ul li:hover {
    cursor: pointer;
    color: gold;
    
}


#Profil_CodeCrafter {
    margin-left: 20px;
}


#Profil_ProJakob {
    margin-top: -150px;
    margin-left: 320px;
}


#Profilbilder h3 {
    font-family: cursive;
    color: cyan;
    margin-left: 10px;
    margin-top: 0;
    padding: 0;
    font-size: 15px;
}

#Profilbilder img {
    width: 100px;
    height: auto;
    border-radius: 100%;
    display: block;
}


#Profilbilder p {
    margin: 0;
    padding: 0;
}

#Profil_BrickCreeper {
    margin-top: -150px;
    margin-left: 170px;
}


#Profil_zCreeper {
    margin-top: -150px;
    margin-left: 470px;
}


#nav ul li:focus {
    color: black;
}



#Profilbilder {
    background-color: #5e5f5e;
    box-sizing: border-box;
    border-radius: 3px 15px 5px 30px;
    box-shadow:8px 8px 8px #666;
    padding-top: 10px;
    padding-bottom: 100px;
}


#slider {
    background-image: url(backgrounds/2022-01-07_10.30.14.png);
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: top;
}


#mitte {
    padding-left: 5%;
    padding-right: 5%;
}

#mitte p {
    color: white
}


#mitte h1,h2,h3,h4 {
    color: gold;
    font-weight: 300;
}


fade-out {
    animation: fadeEffectOut;
}


/*Fading */

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffectOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
